.posts__list {

    margin-bottom: 3rem;

    .item--post {

        > a {
            display: flex;
        }

        h3 {
            font-size: 1.75em;
        }

        &:not(:first-child) {
            border-top: 1px solid $silver;
            padding-top: 1rem;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .post__content {
        display: grid;
        grid-auto-rows: max-content;
        height: auto;
    }    

    .post__data {
        order: 1;
    }
    .post__meta {
        order: 2;
    }

    @media (min-width: $breakpoint_mobile + 1px) {

        p {
            font-size: 1.125em;
        }
    }

    @media (min-width: $breakpoint_tablet-portrait + 1px) {

        .post__cover {
            width: 20rem;
            height: 14rem;
            margin-right: 2rem;
            flex-shrink: 0;
        }

        > .item--post {
            &:not(:first-child) {
                padding-top: 2rem;
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }        

    }

    @media (max-width: $breakpoint_hd) {
        .item--post {
            h3 {
                font-size: 1.75em;
            }
        }
        .post__cover {
            width: 18rem;
            height: 12rem;
        }

    }

    @media (max-width: $breakpoint_mobile) and (min-width: $breakpoint_tablet-portrait + 1px) {
        p {
            font-size: 1em;
        }
    }



    @media (max-width: $breakpoint_tablet-portrait) {
        .item--post {
            h3 {
                font-size: 1.5em;
            }
            > a {
                flex-wrap: wrap;
            }
        }
        .post__cover {
            width: 100%;
            height: auto;
        }
    }

    &.list--archive {
        .item--date {
            margin: 2rem 0;

            &:first-child {
                margin-top: 0;
            }
        }
        .item--first-from-date {
            border-top: 0;
            padding-top: 0;
        }
    }
}