<section class="player__section player__bio">

    <div class="section__header">
        <h2 class="header--with-border">{{ __('Biografia', 'theme') }}</h2>
    </div>
    <article class="section__body text--rich">
        {{ post.content }}
    </article>
</section>