<section class="player__section player__stats stats--current">
    <div class="section__header">
        <h2 class="header--with-border">{{ __('Bieżący sezon', 'theme') }}</h2>
    </div>                        

    {# current stats rendered asynchronously #}
    <div id="player-stats" data-player-id="{{ post.id }}"></div>
</section>