<div class="side__block block-injuries">
    <h3 class="header--with-border">{{ __('Kontuzje', 'theme') }}</h3>

    {# asynchronously rendered schedule, see _js/render #}
    <div id="injuries"></div>
</div>