<div class="side__block block-schedule">
    <h3 class="header--with-border">{{ __('Terminarz', 'theme') }}</h3>

    {# asynchronously rendered schedule, see _js/render #}
    <div id="schedule"></div>
    <a href="{{ links.schedule }}" class="button button--compact">{{ __('Zobacz cały terminarz', 'theme') }}</a>
</div>