<div class="side__block block-calendar block--no-border text--white">
    <h3>{{ 'now'|date('j F') }} {{ __('w historii klubu.', 'theme') }}</h3>

    {# asynchronously rendered schedule, see _js/render #}
    <div id="calendar"></div>
</div>