<div class="side__block block--no-padding block-serie-a">

    {# asynchronously rendered serie a standings and top scorers, see _js/render #}
    <div id="serie-a"></div>

    <div class="block__cta">
        <a href="{{ links.standings }}" class="button button--compact">{{ __('Zobacz pełną tabelę Serie A', 'theme') }}</a>
    </div>

</div>