<div class="side__block">
    <div class="block__header">
        <h3 class="header--with-border">{{ __('Dyskusja', 'theme') }}</h3>
    </div>
    <div id="shoutbox" class="shoutbox"></div>
    <a class="button button--compact" href="{{ links.shoutbox }}">{{ __('Dołącz do dyskusji', 'theme') }}</a>
</div>