%cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cover {

	overflow: hidden;
	z-index: 1;

	@extend %cover;

	video {
		z-index: 2;
	}

	img,
	video {
		@extend %cover;
		object-fit: cover;
	}

	img {
		object-position: top;
	}

	&.cover--overlay {
		&::after {
			content: '';
			display: block;
			@extend %cover;
			background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255,255,255,0) 50%);
		}        
	}

	figcaption {
		bottom: .5rem;
		right: .5rem;
		color: #fff;
		position: absolute;
		z-index: 2;
		font-size: .75em;
		font-style: normal;

	}

}