.block-tags {
    margin: 3rem 0;
    .tags__list {
        margin: 1rem 0;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: .25rem;
            }
        }
    }
    .item--tag {
        font-weight: 400;
        font-size: .875em;
        
        background: #EDEDED;

        a {
            display: flex;
            height: 2.25rem;
            padding: 0 1rem;
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width: $breakpoint_mobile) {
        margin: 2rem 0;
    }
}