.content--game {
}

.game__report {
  margin-bottom: 2rem;
  .post__cover {
    img {
      position: static !important;
      max-height: 45rem;
      aspect-ratio: 16 / 9;

      @media (min-width: $breakpoint_viewport + 1px) {
        min-height: 40rem;
      }
    }
  }
}
